@import "../../../scss/colors";
@import "../../../scss/mediaQuery";
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
  background: white;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25);  
  tr {
    td,
    th {
      text-align: center;
      padding: 0.8rem;
      font-size: small;
      font-weight: lighter;
      input {
        width: calc(100% - 5px);
        height: 30px;
        margin: 0;
        border: none;
        background: none;
        outline: none;
        text-align: center;
      }
      ::-webkit-input-placeholder {
        text-align: center;
        color: darkslategrey;
      }
      :-moz-placeholder {
        text-align: center;
        color: darkslategrey;
      }
    }
    th {
      font-size: large;
      font-weight: bold;
      color: $primary;
      padding: 1.3rem;
    }
  }
  tr:nth-child(odd) {
    background: rgba($color: $primary-dark, $alpha: 0.2);
  }
  tr:nth-child(1) {
    background: $gradient;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    th {
      color: white;
    }
  }
}
