@import "./colors";
@import "./mediaQuery";
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
  background: white;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25);
  tr {
    td,
    th {
      text-align: center;
      padding: 0.8rem;
      font-size: small;
      font-weight: lighter;
      input {
        width: calc(100% - 5px);
        height: 30px;
        margin: 0.5rem 0;
        border: 0.5px solid black;
        background: none;
        outline: none;
        text-align: left;
        text-indent: 10px;
      }
      ::-webkit-input-placeholder {
        color: darkslategrey;
      }
      :-moz-placeholder {
        color: darkslategrey;
      }
    }
    .data-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .custom-input {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        img {
          width: 30px;
          height: 30px;
          margin: 0.5rem;
          cursor: pointer;
        }
        img:active {
          transform: scale(0.95);
        }
        .block {
          width: 30px;
          height: 30px;
          margin: 0.5rem 0.7rem;
        }
      }
    }
    th {
      font-size: large;
      font-weight: bold;
      color: $primary;
      padding: 1.3rem;
    }
  }
  tr:nth-child(odd) {
    background: rgba($color: $primary-dark, $alpha: 0.2);
  }
  tr:nth-child(1) {
    background: $gradient;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    th {
      color: white;
    }
  }
}
